<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.victoralbertos.rx_permissions_result">

  <application>

    <activity
        android:name="io.victoralbertos.rx1_permissions_result.internal.ShadowActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@style/Theme.Transparent" />

  </application>

</manifest>
